.swiper {
    width: 100%;
}

.swiper .swiper-slide {
    height: auto;
}

.swiper-pagination.relative {
    position: relative;
}

.variant__values label:has(input:checked) {
    @apply bg-contrast-darkest text-contrast-lightest border-0;
}

.variant__values label:not(:first-child) {
    @apply ml-2;
}

/* Had to add these to make customizable number of columns work */
grid-cols-1	{grid-template-columns: repeat(1, minmax(0, 1fr));}
grid-cols-2	{grid-template-columns: repeat(2, minmax(0, 1fr));}
grid-cols-3	{grid-template-columns: repeat(3, minmax(0, 1fr));}
grid-cols-4	{grid-template-columns: repeat(4, minmax(0, 1fr));}
grid-cols-5	{grid-template-columns: repeat(5, minmax(0, 1fr));}
grid-cols-6	{grid-template-columns: repeat(6, minmax(0, 1fr));}
